@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {

    --font-family:'Poppins', sans-serif;

    --primary-color: #CB1C8D;
    --primary-color-light: #F56EB3;
    --secundary-color: #460C68;
    --secundary-color-light: #7F167F;
    --third-color: #08C3CC;

    --background-color-dark: rgb(30, 30, 30);
    --background-color-light: rgb(234, 234, 234);
    --background-card-gradiente: linear-gradient(rgba(0, 0, 0, 0.11),var(--black-color));
    --black-color: rgb(0, 0, 0);
    --white-color: #fff;
    --grey-color: rgb(179, 179, 179);
    --red-color: rgb(248, 18, 18);

    --box-shadow-1: 1px 3px 15px rgba(0, 0, 0, 0.514);
    --box-shadow-2: 1px 3px 5px rgba(0, 0, 0, 0.822);
    --box-shadow-3: 0px 2px 2px rgb(255, 255, 255);
    --box-shadow-4: 1px 5px 1px rgba(119, 0, 79, 0.514);
}

html,
body,
html:focus-within {
    scroll-behavior: smooth !important;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color-light);
    color: white;
    font-family: var(--font-family);
    overflow-x: hidden;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--secundary-color);

}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}



ul {
    list-style: none;
}

a {
    color: var(--white-color);
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 2;

}


.navbar-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.174);
}

.navbar-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-close{
    display: none;
}

.light-theme .navbar-close i{
    color: var(--black-color);
}

.dark-theme .navbar-close i{
    color: var(--white-color);
}

.navbar-texts {
    display: flex;
    flex-direction: row;
}

.navbar-texts-link {
    margin-left: 20px;
}

.navbar-texts-link a:hover {
    color: var(--third-color);
}

.navbar-texts-link.active a {
    color: var(--primary-color-light);
    font-weight: 700;
    font-size: 1.3rem;
}

.toggle {
    top: 80px;
    right: 20px;
    position: absolute;

}

.toggle button {
    background-color: transparent;
    border: none;
}

.toggle i {
    margin: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label.toggle {

    padding: 0px 3px;
    border-radius: 50px;
}




.container {
    position: relative;
    width: 100vw;
    height: max-content;
   
}

.container.intro {
    background: url(./assets/pikrepo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.person-perfil {
    width: 150px;
    height: 150px;
    background-color: var(--third-color);
    border-radius: 50%;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5vh;
}

.intro li {
    margin: 0px 10px;
    font-size: 1.3rem;
}


.person-button {
    background-color: var(--primary-color-light);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: var(--box-shadow-2);
}

.person-button:hover {
    transition: 0.1s;
    box-shadow: var(--box-shadow-3) ;
}

.person-button:focus {
    animation: buttonMove .2s;
}

.title {
    margin-top: 9vh;
    margin-bottom: 9vh;
    cursor: default;
}

.container.about {
   
    position: relative;
}

.card-aboutme {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.aboutme-person {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.apresentation-skills {
    width: 70%;
    background-color: var(--secundary-color-light);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 20px 25px;
}

.light-theme .apresentation-skills {
    box-shadow: var(--box-shadow-1);
}

.dark-theme .apresentation-skills {
    box-shadow: var(--box-shadow-2);
}

.apresentation-skills .left-side {

    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.apresentation-skills .left-side h3 {
    font-size: 1.1rem;
    font-weight: 500;
}

.left-side a {
    width: 100px;
    padding: 10px 25px;
    margin-top: -5px;
    margin-left: 2px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    display: flex;
    justify-content: center;


}

.left-side a:hover {
    box-shadow: var(--box-shadow-3);
    transition: box-shadow 0.2s;

}

.left-side a:focus {
    animation: buttonMove 0.1s ease;
}

@keyframes buttonMove {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-5px);
    }
}

.apresentation-skills .right-side {

    width: 50%;
    height: 100%;
    overflow-y: scroll;

}

.right-side::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: var(--primary-color-light);
}

.right-side::-webkit-scrollbar-thumb {
    background-color: var(--secundary-color);
    border-radius: 10px;
}

.row-skill {
    width: 80%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.soft-skills {
    margin-top: -10px;
}

.soft-skills:last-child {
    margin-bottom: 30px;
}

.soft-skills h5 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.soft-skills i {
    margin-right: 5px;
}

#html {
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
    border-radius: 5px;
}

#css {
    width: 95%;
    height: 100%;
    background-color: var(--third-color);
    border-radius: 5px;
}

#sass {
    width: 80%;
    height: 100%;
    background-color: var(--third-color);
}

#javascript {
    width: 85%;
    height: 100%;
    background-color: var(--third-color);
    border-radius: 5px;
}

#typescript {
    width: 85%;
    height: 100%;
    background-color: var(--third-color);
    border-radius: 5px;
}

#php {
    width: 90%;
    height: 100%;
    background-color: var(--third-color);
    border-radius: 5px;
}

#react {
    width: 90%;
    height: 100%;
    background-color: var(--third-color);
    border-radius: 5px;
}

.services {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
}

.card {
    height: 200px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: var(--secundary-color-light);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--box-shadow-2);
}

.light-theme .card:hover{
    transition: 0.2s;
    box-shadow: var(--box-shadow-4);
}

.dark-theme .card:hover{
    transition: 0.2s;
    box-shadow: var(--box-shadow-3);
}

.card:nth-child(2) {
    background-color: var(--primary-color);
}

.card-icon {
    display: flex;
    align-self: center;
    width: 100px;
}

.card-icon img {
    width: 100%;
}

.item .card-title{
    margin-top: 150px;
}

.card-title h4 {
    font-size: .9rem;
}


.card-experience {
    background-color: var(--secundary-color-light);
    padding: 50px;
    width: 50%;
    height: 25vh;
    padding: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.experiences {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.experiences:first-child {
    margin-top: 5vh;
}



.experience .line-experince-to-other {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-experince-to-other i {
    margin-bottom: 5px;
}



.line {
    margin-left: 5px;
    height: 100px;
    width: 3px;
    background-color: white;
    border-radius: 25px;
}

.experience-info {
    margin-left: 20px;
}

.experience-info small {

    color: var(--grey-color);
    font-weight: 600;
}

.experience-company {
    font-size: 0.8rem;
}

.container.projects{
    height: max-content;
    margin-bottom: 35vh;
}

.container.projects .title{
    margin-bottom: 5vh;
    
}

.projects{
    margin-top: 25vh;
}

.projects .card{
    width: 300px;
    background-size: cover;
    background-position: center;
   
}

.projects #yoolo{
    background: linear-gradient(rgba(0, 0, 0, 0.11),black), url(https://camo.githubusercontent.com/afb83e8e56a4d34c4c276bf9b591f6d667f770f7df7ce3aba7d127ac2a7dbfa0/68747470733a2f2f692e696d6775722e636f6d2f69746c614766632e706e67);
    background-size: cover;
    background-position: left;
}

.projects #tictactoe{
    background: linear-gradient(rgba(0, 0, 0, 0.11),black),url(https://camo.githubusercontent.com/744043859a8d98fb9fc220f023269c5dfdc518afc0973bbed76f670c6b3ccbe9/68747470733a2f2f692e696d6775722e636f6d2f55344a307756702e706e67);
    background-position: center;
    background-size:cover;
}

.projects #valocrud{
    background: linear-gradient(rgba(0, 0, 0, 0.11),black),url(https://camo.githubusercontent.com/57b53064f1a3b603ac57caeb33af7260a9a757cf5e362df8614f63fe3b50ad21/68747470733a2f2f692e696d6775722e636f6d2f637877474870542e706e67);
    background-position: center;
    background-size: cover;
}

.projects #gameofthrones{
    background: linear-gradient(rgba(0, 0, 0, 0.11),black), url(https://camo.githubusercontent.com/ac28c66d6ad3bf614b4170c6be0d29c4d35014eb8b985097c435617f573e67be/68747470733a2f2f692e696d6775722e636f6d2f79684678536b432e706e67);
    background-position: center;
    background-size: cover;
}

.projects #mandalorian{
    background: linear-gradient(rgba(0, 0, 0, 0.11),black),url(https://camo.githubusercontent.com/97cc3da7cb09980b566cd6ff38f1d97c54a1c2ffb88ece7be7bf9c9575bd9ff2/68747470733a2f2f692e696d6775722e636f6d2f6a78545337496d2e706e67);
    background-position: center;
    background-size: cover;
}

.contact{
    margin-top: 20vh;
}

.form{
    width: 50%;
    height: 45vh;
    background: var(--secundary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    border-radius: 10px;
    padding: 100px;
}


.form-control{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 2vh;
}

.form-control input{
    
    width: 100%;
    height: 5vh;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    mask-border-slice: 1px;
    margin-bottom: 2vh;
    outline: none;
    color: white;
    
}



.form-control small{
    color: var(--red-color);
    margin-bottom: 2vh;
    display: none;
}

.form-control input::placeholder{
    font-family: var(--font-family);
    color: var(--white-color);
    padding: -10px;
    font-weight: 600;
}



.textarea{
    font-family: var(--font-family);
    width: 50vw;
    height: 20vh!important;
    background-color: var(--white-color)!important;
    color: var(--black-color)!important;
    border-bottom: transparent!important;
    border-radius: 5px;
   
}

.textarea::placeholder{
    position: absolute;
    color: var(--black-color)!important;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
   
}

.button-form{
    background:  var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--white-color);
    font-family: var(--font-family);
    cursor: pointer;
}

.button-form:hover{
    transition: .2s ;
    box-shadow: var(--box-shadow-3);
}

.button-form:focus{
    animation: buttonMove .2s;
}

.button-form i{
    margin-right: 10px;
}



.owl-carousel{
    width: 80%;
   
    position: absolute;
   
    display: flex;
    justify-content: center;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
   
}






/*----------------Dark Theme --------------------*/



body.dark-theme {
    background-color: var(--background-color-dark);
}


.dark-theme .scroll {
    background-color: var(--black-color);
    transition: background .5s,
        color 1s;
}


.toggle i {
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.dark-theme .toggle i.dark {

    background-color: var(--primary-color-light);
    padding: 10px;
    border: 3px solid var(--white-color);
    border-radius: 50px;
    color: var(--white-color);
}

.dark-theme .toggle i.light {
    background-color: var(--white-color);
    padding: 10px;
    border: 3px solid var(--white-color);
    border-radius: 50px;
    color: var(--black-color);
    opacity: 0.5;
}

/*---------------Fim dark Theme ----------------*/





/*--------------Light Theme*---------------------*/

body.light-theme {
    background-color: var(--background-color-light);
}

.navbar.scroll{
    opacity: 0.4;
}

.navbar.scroll:hover{
    
    opacity: 1;
    transition: opacity 0.3s ease-in-out!important;
}

.light-theme .navbar.scroll {
    background-color: var(--white-color);
    transition: background .5s,
        color 1s;
}


.light-theme .navbar.scroll h1,
.light-theme .navbar.scroll a {
    color: var(--black-color);
}



.light-theme .navbar-texts-link.active a {
    color: var(--primary-color-light);
}

.light-theme .title {
    color: var(--black-color);
}

.light-theme .toggle i.dark {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 3px solid var(--white-color);
    border-radius: 50px;
    color: black;
    opacity: 0.5;
}

.light-theme .toggle i.light {

    background-color: var(--primary-color-light);
    padding: 10px;
    border: 3px solid var(--white-color);
    border-radius: 50px;
    color: white;
}

.light-theme .scroll i.light {
    border: 3px solid var(--black-color);
}


.hamburguer-button {
    display: none;
    margin-left: 50vw;
    justify-content: center;
}

.light-theme .scroll .hamburguer-button{
    color: var(--black-color);
}

.dark-theme  .hamburguer-button{
    color: var(--white-color);
}

.show{
    display: flex!important;
}


@media screen and (max-width :780px) {

    .navbar-texts{
        display: none;
    }
   
    .hamburguer-button {
        display: flex;
        margin-left: 50vw;
        justify-content: center;
    }

    .navbar-texts-link.active a{
        font-size: 0.8rem;
    }

    .light-theme .navbar-items.show .navbar-texts{
        background-color: var(--white-color);
        
    }

    .light-theme .navbar-texts-link a {
        color: var(--black-color);
    }

    .dark-theme .navbar-items.show .navbar-texts{
        background-color: var(--black-color);
    }

    .navbar-items.show  .navbar-texts{
        
        width: 100%;
        position: absolute;
        padding-top: 40px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        font-size: 0.5rem;
        
        
        
    }

    .navbar-items.show .navbar-texts-link a{
       font-size: 0.65rem;
    }

    .navbar-texts-link{
        margin-left: 0px;
    }

    .toggle {
        top: 80px;
        right: 20px;
        position: absolute;
        flex-direction: column;
    }

    .navbar-items.show  .toggle{
        top: 120px!important;
        transition: .2s ease;
    }

    .toggle i {
        margin-top: 5px;
    }

    .card-aboutme {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .aboutme-person {
        margin-bottom: 5vh;
    }

    .apresentation-skills {
       
        flex-direction: column;
    }

    .apresentation-skills .left-side {
        width: 100%;
        margin-bottom: 3vh;
    }

    .left-side a {
        align-self: center;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .apresentation-skills .right-side {
        width: 100%;
    }

    .services {
        flex-direction: column;
    }

    .card {
        width: 80%;
    }

    .container.experience {
        margin-top: 30px;
        height: max-content;
    }

    .card-experience{
        width: 30%;
    }

    .card-experience small{
        font-size: 0.6rem;
    }

    .experience-job{
        
        font-size: 0.8rem;
    }

    .experience-company{
        font-size: 0.7rem;
        white-space: nowrap;
        margin-bottom: 1vh;
    }

    

    .projects .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 77vw;
        height: 50vh;
    
    }

    .form{
        width: 30%;
    }

    .form-control{
        width: 150%;
    }

    .button-form{
        width: max-content;
    }

    .navbar-items.show .navbar-close{
        position: absolute;
        display: flex;
        z-index: 3;
        right: 48px;
    }
}